flow.json
[{"id":"dc9882f8f5cbd294","type":"tab","label":"Gemini Chat","disabled":false,"info":"","env":[]},{"id":"afac38559bff6d27","type":"websocket out","z":"dc9882f8f5cbd294","name":"input","server":"","client":"0b89898132f4899c","x":570,"y":180,"wires":[]},{"id":"96e76cf90387e622","type":"debug","z":"dc9882f8f5cbd294","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":80,"wires":[]},{"id":"e06471a3085c6e1c","type":"debug","z":"dc9882f8f5cbd294","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":320,"wires":[]},{"id":"9bae8fcd4b3b36dd","type":"websocket in","z":"dc9882f8f5cbd294","name":"output","server":"","client":"0b89898132f4899c","x":130,"y":260,"wires":[["e06471a3085c6e1c","575eab7edcb54b5c"]]},{"id":"7830acf662d01a03","type":"ui-text-input","z":"dc9882f8f5cbd294","group":"c4da4e89d4b9d82c","name":"","label":"輸入(完成後按enter)","order":2,"width":0,"height":0,"topic":"topic","topicType":"msg","mode":"text","tooltip":"","delay":300,"passthru":true,"sendOnDelay":false,"sendOnBlur":false,"sendOnEnter":true,"className":"","clearable":false,"sendOnClear":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","x":380,"y":80,"wires":[["96e76cf90387e622","afac38559bff6d27"]]},{"id":"575eab7edcb54b5c","type":"markdown","z":"dc9882f8f5cbd294","name":"","x":630,"y":260,"wires":[["e96f99868db7d7ca"]]},{"id":"e96f99868db7d7ca","type":"ui-text","z":"dc9882f8f5cbd294","group":"c4da4e89d4b9d82c","order":1,"width":"12","height":"7","name":"","label":"輸出:","format":"{{msg.payload}}","layout":"row-left","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":true,"className":"","x":830,"y":260,"wires":[]},{"id":"0b89898132f4899c","type":"websocket-client","path":"wss://ggchat.sub.jeff3.win/ws","tls":"","wholemsg":"false","hb":"0","subprotocol":"","headers":[]},{"id":"c4da4e89d4b9d82c","type":"ui-group","name":"聊天室","page":"a373a2ff97eb015e","width":"12","height":"5","order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"a373a2ff97eb015e","type":"ui-page","name":"雲科機器人","ui":"1bd3c774eb6e0563","path":"/page1","icon":"home","layout":"grid","theme":"fbe82f82de5db07c","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":1,"className":"","visible":"true","disabled":"false"},{"id":"1bd3c774eb6e0563","type":"ui-base","name":"My Dashboard","path":"/dashboard","appIcon":"","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"showPageTitle":true,"navigationStyle":"default","titleBarStyle":"default","showReconnectNotification":true,"notificationDisplayTime":1,"showDisconnectNotification":true},{"id":"fbe82f82de5db07c","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094CE","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}}]